<ul>
  <% @artists.each do |artist|%>
    <li><%= artist.name %></li>
    <% artist.albums.each do |album| %>
      <li style="color: #666;"><%= album.name %></li>
    <% end %>

    <% artist.tracks.each do |track|%>
      <li>--><%= track.name %></li>
      <li style="color: #666;">** <%= track.album.name %></li>
    <% end %>
  <% end %>
</ul>

